In [4]:
import pandas as pd
from sqlalchemy import create_engine
import os

### Extract CSVs into DataFrames

In [11]:
file_path_country = os.path.join("Data","country_codes.csv")

In [12]:
country_data = pd.read_csv(file_path_country)
country_data

,country_id,common_name,official_name,country_code,continent,sub_region
0,1,Afghanistan,The Islamic Republic of Afghanistan,AFG,Asia,Southern Asia
1,2,Albania,the Republic of Albania,ALB,Europe,Southern Europe
2,3,Algeria,the People's Democratic Republic of Algeria,DZA,Africa,Northern Africa
3,4,Andorra,the Principality of Andorra,AND,Europe,Southern Europe
4,5,Angola,the Republic of Angola,AGO,Africa,Middle Africa
...,...,...,...,...,...,...
193,194,Yemen,the Republic of Yemen,YEM,Asia,Western Asia
194,195,Zambia,the Republic of Zambia,ZMB,Africa,Eastern Africa
195,196,Zimbabwe,the Republic of Zimbabwe,ZWE,Africa,Eastern Africa
196,197,Liechtenstein,Principality of Liechtenstein,LIE,Europe,Western Europe
197,198,Palestine,State of Palestine,PSE,Asia,Western Asia

In [8]:
#saving it into new file
country.to_csv('country')

### Transform premise DataFrame

### Transform county DataFrame

### Create database connection

In [ ]:
# Confirm tables

### Load DataFrames into database