In [4]:
import pandas as pd
from sqlalchemy import create_engine
import os

### Extract CSVs into DataFrames

In [5]:
file_path_country = os.path.join("Data", "country_codes")

In [6]:
country_data = pd.read_csv(file_path_country)
country_data

FileNotFoundError: [Errno 2] File Data\country_codes does not exist: 'Data\\country_codes'

In [4]:
sugar_data_melt =sugar_data.melt(['Country'], var_name='Year', value_name='Value')
sugar_data_melt

                  Country  Year   Value
0             Afghanistan  1993    9.12
1                 Albania  1993   76.10
2                 Algeria  1993   74.30
3                  Angola  1993   25.30
4     Antigua and Barbuda  1993   82.20
...                   ...   ...     ...
3523            Venezuela  2013  106.00
3524              Vietnam  2013   27.40
3525                Yemen  2013   77.90
3526               Zambia  2013   28.10
3527             Zimbabwe  2013   80.60

[3528 rows x 3 columns]

In [5]:
sugar_data_melt = sugar_data_melt.set_index(['Country'])
sugar_data_melt

                     Year   Value
Country
Afghanistan          1993    9.12
Albania              1993   76.10
Algeria              1993   74.30
Angola               1993   25.30
Antigua and Barbuda  1993   82.20
...                   ...     ...
Venezuela            2013  106.00
Vietnam              2013   27.40
Yemen                2013   77.90
Zambia               2013   28.10
Zimbabwe             2013   80.60

[3528 rows x 2 columns]

In [8]:
#saving it into new file
sugar_data_melt.to_csv('sugar_data.csv')

### Transform premise DataFrame

### Transform county DataFrame

### Create database connection

In [ ]:
# Confirm tables

### Load DataFrames into database