In [1]:
import pandas as pd
import os

In [2]:
from sqlalchemy import create_engine
engine = create_engine(f'postgres://gnhyfpvj:EBKTvM_wJPKtlmLIfcSPytJEJH9_hv_h@raja.db.elephantsql.com:5432/gnhyfpvj')
connection = engine.connect()

In [3]:
file_path_income = os.path.join("income_db.csv")

In [4]:
income_data = pd.read_csv(file_path_income)
income_data

      country_id  year  value
0              1  1990   2193
1              2  1990   4415
2              3  1990   9989
3              4  1990  49062
4              5  1990   4139
...          ...   ...    ...
5505         192  2018   9070
5506         193  2018   6220
5507         194  2018   1433
5508         195  2018   3582
5509         196  2018   2661

[5510 rows x 3 columns]